# Python & Pycache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment & Credentials
.env
.venv
venv/
venv_win/
ENV/
env.bak/
venv.bak/

# SQLite Database (opcional según si querés incluir demo data)
# db.sqlite3

# Static / Media en dev
static_collected/

# IDEs & System
.vscode/
.idea/
.DS_Store
Thumbs.db
